<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem odio inventore doloremque, unde sint veritatis. Distinctio qui nihil officia, veniam sunt quos corporis minus vitae ea nostrum, quasi temporibus quam!«</p>
    </div>
</div>