<div class="jumbotron mt-4">
    <h1 class="display-4" >Notes App NodeJs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ab atque laudantium sed consectetur quis ea consequatur? Hic esse quo accusamus vel quod! Sapiente odit mollitia quia autem aliquid quidem.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, unde illum, qui ipsam perferendis soluta enim cum, ratione molestiae excepturi in itaque voluptatem eaque porro magnam autem cupiditate totam dolorum?</p>
    <a href="www.google.com" class="btn btn-primary btn-lg">Google</a>
</div>